body{
	style="font-size: small;
}

main img {
	width: 200px;
	height: auto;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}
footer{
	bottom: 0px;
	border-bottom-color: black;
	background-color: gray;
}
header{
	border-bottom-color: black;
	background-color: gray;
}
html{
	position: absolute;
}